body {
   background-color: #cccccc;
    color: black;
}

.header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin: 0 auto;
    height: 150px;
    width: 60%; 
}

.underscores{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    margin: 50px auto;
    height: 150px;
    width: 80%;
 }

.right{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 50px auto;
    height: 150px;
    width: 80%;
 }

.wrong{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 50px auto;
    height: 150px;
    width: 80%;
 }